*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000080;
}

.container {
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    max-width: 1465px;
    margin: 0 auto;
}


.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 46px;
}

.header-link-call {
    align-self: center;
    border: 1px solid #FFC0CB;
    padding: 13px 25px 13px 49px;
    color: #FFC0CB;
    text-decoration: none;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
}

.header-img-call {
    height: 13px;
    width: 13px;
    position: absolute;
    right: 180px;
    top: 17px;
}

.main-first-title {
    color: #ffA500;
    font-size: 50px;
    padding-top: 120px;
}

.main-paragraph {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    padding-top: 41px;
    max-width: 1182px;
}

.main-first-collage {
    display: grid;
    grid-template-columns: 467px 217px 215px 467px;
    grid-template-rows: repeat(2, 468px);
    margin-top: 41px;
    row-gap: 27px;
    column-gap: 30px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    list-style: none;
}

.main-first-item-1 {
    background-color: #800000;
    /* width: 467px;*/
    height: 468px;
    grid-area: 1/1/2/2;
    padding-top: 220px;
}

.main-first-item-2 {
    background-color: #ffA500;
    /*width: 467px;*/
    height: 468px;
    grid-area: 1/2/2/4;
    padding-top: 220px;
}

.main-first-item-3 {
    background-color: #ff0000;
    height: 468px;
    grid-area: 1/4/2/5;
    padding-top: 220px;
}

.main-first-item-4 {
    background-color: #ff0000;
    height: 468px;
    grid-area: 2/1/3/3;
    padding-top: 220px;
}

.main-first-item-5 {
    background-color: #800000;
    height: 468px;
    grid-area: 2/3/3/5;
    padding-top: 220px;
}

.main-second-title {
    color: #ffA500;
    font-size: 50px;
    padding-top: 161px;
    padding-bottom: 94px;
}

.main-second-collage {
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-template-rows: 255px 33px 103px 121px 257px 17px;
    row-gap: 26px;
    column-gap: 30px;
}

.small-size-letter {
    font-weight: 400;
}

.big-size-letter {
    font-weight: 500;
}

.main-second-item-1 {
    background-color: #9370DB;
    color: #FFFFFF;
    height: 313px;
    grid-area: 1/1/3/2;
    padding-top: 44px;
    padding-left: 52px;
}

.main-second-item-2 {
    background-color: #E066FF;
    color: #FFFFFF;
    height: 439px;
    grid-area: 1/2/3/3;
    padding-top: 44px;
    padding-left: 52px;
}

.main-second-item-3 {
    background-color: #BA55D3;
    color: #FFFFFF;
    height: 255px;
    grid-area: 1/3/2/4;
    padding-top: 44px;
    padding-left: 52px;
}

.main-second-item-4 {
    background-color: #800080;
    color: #FFFFFF;
    height: 560px;
    grid-area: 3/1/7/2;
    padding-top: 44px;
    padding-left: 52px;
}

.main-second-item-5 {
    background-color: #D02090;
    color: #FFFFFF;
    height: 405px;
    grid-area: 4/2/6/3;
    padding-top: 44px;
    padding-left: 52px;
}

.main-second-item-6 {
    background-color: #9400D3;
    color: #FFFFFF;
    height: 313px;
    grid-area: 2/3/5/4;
    padding-top: 44px;
    padding-left: 52px;
}

.main-second-item-7 {
    background-color: #DB7093;
    color: #FFFFFF;
    height: 277px;
    grid-area: 5/3/7/4;
    padding-top: 44px;
    padding-left: 52px;
}

.main-third-container {
    display: flex;
    flex-direction: column;
    margin-top: 190px;
    padding-top: 172px;
    max-width: 1920px;
    background-color: #0000ff;
}

.main-third-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.main-third-title {
    color: #ffA500;
    font-size: 50px;
    margin-left: 30px;
}

.main-link {
    align-self: center;
    border: 1px solid #FFC0CB;
    padding: 13px 40px;
    color: #FFC0CB;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Circe', sans-serif;;
    margin-right: 30px;
}

.main-third-collage {
    padding-top: 72px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.main-third-item-1 {
    background-color: #90EE90;
    width: 487px;
    height: 391px;

}
.main-third-item-2 {
    background-color: #228B22;
    width: 486px;
    height: 391px;
}

.main-third-item-3 {
    background-color: #3CB371;
    width: 487px;
    height: 391px;
}

.main-third-item-4 {
    background-color: #3CB371;
    width: 487px;
    height: 391px;
}

.main-third-item-5 {
    background-color: #008080;
    width: 486px;
    height: 391px;
}

.main-third-img-set {
    padding-top: 169px;
    padding-left: 184px;
}

.main-third-item-6 {
    background-color: #90EE90;
    width: 487px;
    height: 391px;
}

.main-third-img {
    padding: 171px 151px;
}

.main-img-top-1 {
    padding-top: 61px;
    padding-left: 217px;
}

.main-img-top-2 {
    padding-left: 173px;
}

.main-third-item-text {
    text-align: center;
}

.main-big-text {
    font-family: 'Gilam', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 28px;
}

.main-small-text {
    font-family: 'Gilam', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 28px;
}

.footer-box {
    padding-top: 50px;
    background-color: #000080;
    max-width: 1465px;
    margin: 0 auto;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#colorButton {
    padding: 10px 20px;
    background-color: #800080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/*Змінена тема*/
.new-theme {
    background-color: #181818;
}

.new-theme body{
    background-color: #181818;
}

.new-theme .header-link-call {
    border: 1px solid #E4B564;
    color: #E4B564;
}

.new-theme .main-first-title {
    color: #FFFFFF;
}

.new-theme .main-first-item-1 {
    background-color: #634F2C;
}

.new-theme .main-first-item-2 {
    background-color:#B4A385;
}

.new-theme .main-first-item-3 {
    background-color: #E4B564;
}

.new-theme .main-first-item-4 {
    background-color: #635A4A;
}

.new-theme .main-first-item-5 {
    background-color: #B08C4D;
}

.new-theme .main-second-title {
    color: #FFFFFF;
}

.new-theme .main-second-item-1 {
    background-color: #0E0E0E;
    color: #FFFFFF;
}

.new-theme .main-second-item-2 {
    background-color: #242424;
    color: #FFFFFF;
}

.new-theme .main-second-item-3 {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.new-theme .main-second-item-4 {
    background-color: #1F1F1F;
    color: #FFFFFF;
}

.new-theme .main-second-item-5 {
    background-color: #E4B564;
    color: #FFFFFF;
}

.new-theme .main-second-item-6 {
    background-color: #0E0E0E;
    color: #FFFFFF;
}

.new-theme .main-second-item-7 {
    background-color: #0A0909;
    color: #FFFFFF;
}

.new-theme .main-third-container {
    background-color: #0E0E0E;
}

.new-theme .main-third-title {
    color: #FFFFFF;
}

.new-theme .main-third-item-1 {
    background-color: #634F2C;
}

.new-theme .main-third-item-2 {
    background-color: #E8D2ABC2;
}

.new-theme .main-third-item-3 {
    background-color: #E4B564;
}

.new-theme .main-third-item-4 {
    background-color: #635A4A;
}

.new-theme .main-third-item-5 {
    background-color: #B08C4D;
}

.new-theme .main-third-item-6 {
    background-color: #634F2C;
}

.new-theme .main-link {
    border: 1px solid #E4B564;
    color: #E4B564;
}

.new-theme .footer-box {
    background-color: #181818;
}

.new-theme #colorButton {
    background-color: #634F2C;
}
